<div>

<div>
    <a id="namePro" href="#namePro"></a>
  
{{#each currentUser}}

<span class="name" > {{this.first_name}}</span></a>
{{else}} <span>You are not logged in!!</span>

{{/each}} 
</div>

</div>