<div class="container-fluid">
    <div class="row">
        <div class="space col-lg-10">

            <!-- blank space on first line to push buttons over -->
        </div>


        <div class="headerLinks col-lg-2">

            <!-- <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                  Sign Up
                </button> -->

                <a class="headerLinks" data-toggle="modal" data-target="#loginmodal" href="/index"> Login</a>
                {{!-- Modal for logging in to account --}}
                <div class="modal" id="loginmodal" tabindex="1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="loginTitle">Please Log In.</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="logEmail" aria-describedby="emailHelp" placeholder="Enter email">
                                <br>
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="logPass" placeholder="Password">
                                <br>
                                <input class="btn btn-primary" id="logData" type="submit" value="Submit" data-dismiss="modal">
                            </div>
                        </div>
                    </div>
                </div>
                <a class="headerLinks" href="/register">Sign Up</a>
                <!-- <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                   Login
                  </button> -->

        </div>
    </div>
    <br>
    <br>


    <div class="row">
        <div class="photo1 space col-lg-12">
            <p id="whyWorkoutalone"> WHY WORKOUT ALONE?</p>
            <!-- <p class="newInnovative"> New innovative way of finding a workout buddy </p>
           <p class="newInnovative">and reaching your workout goals </p>
           <p class="newInnovative">from anywhere!!!!</p> -->
            <!-- <p>"Training has given me the know-how to enter the gym with confidence! I now know how to use the equipment and maximize a workout with confidence!”" </p>              -->
            <!-- blank space on first line to push buttons over -->
        </div>



    </div>
</div>
<br>
<br>
<br>
<!-- Left space 2 columns on main page -->
<div class="row">
    <div class="fourPhotos col-lg-5">


        <!-- Four photos in the main index page  -->
        <img class="image1" src="assets/img/aerobic.jfif" alt="Aerobic" style="width:256px;height:150px;">
        <img class="image2" src="assets/img/walking.jpg" alt="Walking" style="width:256px;height:150px;">
        <br>
        <img class="image3" src="assets/img/weights.jpg" alt="Weight Lifting" style="width:256px;height:150px;">
        <img class="image4" src="assets/img/spin.jpg" alt="Spin Class" style="width:256px;height:150px;">




    </div>



    <div class="col-lg-6">

           <div class="card">
              <div class="card-body">
                <h5 class="card-title">GitFit Workout Buddy</h5>
                <p class="card-text">Introducing GitFit...the newest innovative  website to hit the fitness industry.

                    GitFit helps gym users find the perfect training partner, whether it's a short term partner if you are travelling or a long term partner to train with from your home location. </p>
                    <br>
                    <p>
                    If you are a personal trainer or gym facility GitFit is your solution to a stress free booking system. Simply sign up, manage your schedule, add classes, take bookings, and take all your payments using our pocket sized app.
                    </p>
                    <br>
                    <p> Now there is no excuse... Get your body lean and strong as GitFit at your convenience</p>
                <a href="/register" class="btn btn-primary">Sign Up Today</a>
              </div>
            </div>
        </div>

      <!-- Right space on 2 columns main page -->
      <div class="col-lg-3"></div>



    </div>
