<!-- <div class="container center">
	<a href="#login" class="btn btn-large teal modal-trigger">Login Here</a> 
   
</div> -->
<!-- 
<div class="modal" id="login"> -->
    <!-- <h5 class="modal-close">&#10005;</h5> -->


<div class="login1Body white lighten-3">
              <!-- Navigation bar-->
            
                <nav class="transparent">
                    <div class="nav-wrapper">
                        <a href="#" class="brand-logo center">
                            <p id="loginLogo">GitFit Login</p>
                            <!-- <img src="./img/logo.png" alt="logo" height="64" width="64"> -->
                        </a>
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu </i></a>
                        <ul class="left hide-on-med-and-down">
                            <li> <a href="/"style="color: grey">Home</a></li>
                            <li> <a href="/register"style="color: grey">Sign Up</a></li>
                        </ul>
                        <ul class="right hide-on-med-and-down">
                            {{!-- <li> <a href="#" style="color: grey";>Profile</a></li> --}}
                            <!-- <li> <a href="./login.html" style="color: grey;">Login</a></li> -->
                        </ul>
                    </div>
                </nav>
                <!--Sidebar -->
                <ul class="sidenav" id="mobile-demo">
                    <li><a href="/">Home</a></li>
                    <li><a href="/register">Sign Up</a></li>
                    <!-- <li><a href="./login1.html">Login</a></li> -->
                    <li><a href="/profile-match">Profile</a></li>
                    <!-- Need to initialize the sidenav in index.js file-->
                </ul>








<div class="modal-content center">
    <!-- <h4 id="loginTitle">Login </h4><br>  --><br><br> <br> 
            <form>

            <div class="input-field">
                <i class="material-icons prefix">person</i>
                    <input type="text" style="width: 25%" id="logEmail">
                    <label for="text" style="text-align: center;">Email</label>
            </div><br>

            <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                        <input type="password" id="pass">
                        <label for="pass" style="text-align: center;">Password</label>
            </div><br>

                <div class="center">
                        <!-- <i class="material-icons prefix">Person</i> -->
                            <input type="checkbox" id="check">
                            <label for="check" style="text-align: center;">Remember me</label>
                    </div><br>

                          <input type="button" value="Login" style="width: 25%"class="sub-btn" id="logData">

                                     
        </form>

    </div>

</div>

</div>
