<br>
<h1>Match!</h1><br>

<div class="container justify-content-center">
    <div class="row">


        <div class="col-12">
            <h2>Profile Match</h2>

<<<<<<< HEAD
            {{>match}}
=======
              {{> profile-match}}
>>>>>>> 5e34ca8f21c49ff2e856d69889c3493da923470c
        </div>

    </div>
</div>
