<div class=" back container-fluid">
      <div class=" row">
            <div class="space col-lg-10">

                    <!-- blank space on first line to push buttons over -->
               </div>

          <div class="headerLinks col-lg-2">


                <a class="headerLinks2" href="index.html"> Login</a>
                <a class="headerLinks2" href="register.html">Sign Up</a>

           </div>
      </div>
      <br>
      <br>
      <div>
      <div class="row">
            <div class="video col-lg-1">

                <iframe width="360" height="215" src="https://www.youtube.com/embed/UBMk30rjy0o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br>
                <br>
                <iframe width="360" height="215" src="https://www.youtube.com/embed/TWVxA9JqP5M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br>
                <br>
                <iframe width="360" height="215" src="https://www.youtube.com/embed/hYcl3TVuQNs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br>
                <br>
                <iframe width="360" height="215" src="https://www.youtube.com/embed/50kH47ZztHs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <!-- blank space on first line to push buttons over -->
               </div>
      <div class="space col-lg-9">
               <div class ="block">
                         <img class="logo" src="/assets/img/logo.png" alt="Aerobic" align="left"/>
                         <br>
                         <br>
                         <br>
                         <p id="gitfit"> Workout Buddies</p>
                         <a class="blockLinks" href="index.html" > Profile </a>
                         <a class="blockLinks1" href="register.html">Messages</a>
<br>
<br>
<hr>
{{> profile-match}}
{{!-- <div id="pmatch">

 </div> --}}
</div>


  </div>
 </div>
</div>


          </div>

      <br>
      <br>




<br>
<br>
<br>
<!-- Left space 2 columns on main page -->


</div>
