    <div class="bodyReg">
             <!-- Navigation bar-->
            
                <nav class="transparent">
                    <div class="nav-wrapper">
                        <a href="#" class="brand-logo center">
                            <p id="loginLogo">GitFit</p>
                            <!-- <img src="./img/logo.png" alt="logo" height="64" width="64"> -->
                        </a>
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu </i></a>
                        <ul class="left hide-on-med-and-down">
                            <li> <a href="/"style="color: white">Home</a></li>
                            <li> <a href="/login1"style="color: white">Login</a></li>
                        </ul>
                        <ul class="right hide-on-med-and-down">
                            {{!-- <li> <a href="#" style="color: white";>Profile</a></li> --}}
                            <!-- <li> <a href="./login.html" style="color: grey;">Login</a></li> -->
                        </ul>
                    </div>
                </nav>
    <div class="main">
        <header>
            <div class="imageReg"> <img src="/assets/img/logo.png"> </div>
            <div class="companyReg">GitFit</div>
            <div class="headingReg">Workout Buddy</div>
        </header>
        <form action="#" method="post" id="form-box">
            <div class="iconReg">
                <span class="fa fa-user"></span>
            </div>
            <div class="inputReg">
                <input type="text" name="username" placeholder="Username" class="inp" required>
            </div>

            <div class="iconReg">
                <span class="fa fa-envelope"></span>
            </div>
            <div class="inputReg">
                <input type="email" name="email" placeholder="Email" class="inp" required>
            </div>

            <div class="iconReg">
                    <span class="fa fa-lock"></span>
                </div>
                <div class="inputReg">
                    <input type="password" name="password" placeholder="Password" class="inp" required>
                </div>
    

            <div class="iconReg">
                <span class="fa fa-lock"></span>
            </div>
            <div class="inputReg">
                <input type="password" name="password" placeholder="Re-Type Password" class="inp" required>
            </div>


            <input type="submit" name="submit" value="REGISTER NOW" class="sub-btn" style="width:100%">
        </form>
        {{!-- <div class="footerReg">
            <p id="pReg"> Already have an account? &nbsp;<a href="/login1">Login</a> </p>
        </div> --}}
    </div>
<<<<<<< HEAD

=======
>>>>>>> 92a226d1b7c4d6d951e9eabdc91b858a06c564c8
        <!-- Footer Section -->
    <footer class="black white-text center">
        <div style="padding:20px 0 20px 0;">
            <h3 id="foot">GitFit</h3>
            <!-- Font Awesome Icons-->
            <ul>
                <li><i class="fa fa-facebook"></i></li>
                <li><i class="fa fa-instagram"></i></li>
                <li><i class="fa fa-twitter"></i></li>
                <li><i class="fa fa-youtube"></i></li>
                <li><i class="fa fa-linkedin"></i></li>
            </ul>
<<<<<<< HEAD

  </div>
  <br>


  <!-- <div class="row">
                            <div class="photo1 space col-lg-12"></div>
                        </div> 
                                 -->
  <div class="photo1 row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <!-- <h3 id="createYouraccount"> CREATE YOUR ACCOUNT </h3>
                                    <br>
                                    <p id="registrationProcess">Welcome to GitFit Workout Buddy.  
                                        To complete your registration,    please provide information below. If you have an existing account   with GitFit  
                                          please disregard this registration process and click the login on the top of page.</p> -->
      <br>
      <div class="card">
        <div class="card-body">
          <!-- <form style="border:1px solid black"> -->
          <div class="form-group">

            <h3 id="createYouraccount"> CREATE YOUR ACCOUNT </h3>
            <br>
            <p id="registrationProcess">Welcome to GitFit Workout Buddy.
              To complete your registration, please provide information below. If you have an existing account with
              GitFit
              please disregard this registration process and click the login on the top of page.</p>
            <br>
            <br>
            <label for="exampleInputFirstName">First Name</label>
            <input type="firstName" class="form-control" id="firstName" placeholder="First Name">
          </div>
          <div class="form-group">
            <label for="exampleInputLastName">Last Name</label>
            <input type="LastName" class="form-control" id="lastName" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp"
              placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="userPass" placeholder="Password">
          </div>
          <div class="form-group form-check">
            <input type="checkbox"  id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">By clicking Finish you are agreeing to our handling of
              your personal
              data in accordance with our Privacy Policy and our website Legal Terms.
              All information contained herein applies to account registration is agreed by the user.</label>
          </div>
          <button type="submit" class="btn btn-primary" id="submitData">Submit</button>
          </form>
          <!-- </form> -->
=======
>>>>>>> 92a226d1b7c4d6d951e9eabdc91b858a06c564c8
        </div>
        <div class="grey darken-2" style="padding: 30px 0;">
            &COPY; GitFit Est 2019 . All Rights Reservered
        </div>
    </footer>
</div>