<div class="container-fluid">
  <div class="row">
    <div class="space col-lg-10">

      <!-- blank space on first line to push buttons over -->
    </div>


    <div class="headerLinks col-lg-2">

      <!-- <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                                    Sign Up
                                  </button> -->

      <a class="headerLinks" href="index.html"> Login</a>
      <a class="headerLinks" href="register.html">Sign Up</a>
      <!-- <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                                     Login
                                    </button> -->

    </div>
  </div>
  <br>


  <!-- <div class="row">
                            <div class="photo1 space col-lg-12"></div>
                        </div> 
                                 -->
  <div class="photo1 row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <!-- <h3 id="createYouraccount"> CREATE YOUR ACCOUNT </h3>
                                    <br>
                                    <p id="registrationProcess">Welcome to GitFit Workout Buddy.  
                                        To complete your registration,    please provide information below. If you have an existing account   with GitFit  
                                          please disregard this registration process and click the login on the top of page.</p> -->
      <br>
      <div class="card">
        <div class="card-body">
          <!-- <form style="border:1px solid black"> -->
          <div class="form-group">

            <h3 id="createYouraccount"> CREATE YOUR ACCOUNT </h3>
            <br>
            <p id="registrationProcess">Welcome to GitFit Workout Buddy.
              To complete your registration, please provide information below. If you have an existing account with
              GitFit
              please disregard this registration process and click the login on the top of page.</p>
            <br>
            <br>
            <label for="exampleInputFirstName">First Name</label>
            <input type="firstName" class="form-control" id="firstName" placeholder="First Name">
          </div>
          <div class="form-group">
            <label for="exampleInputLastName">Last Name</label>
            <input type="LastName" class="form-control" id="lastName" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp"
              placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="userPass" placeholder="Password">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">By clicking Finish you are agreeing to our handling of
              your personal
              data in accordance with our Privacy Policy and our website Legal Terms.
              All information contained herein applies to account registration is agreed by the user.</label>
          </div>
          <button type="submit" class="btn btn-primary" id="submitData">Submit</button>
          </form>
          <!-- </form> -->
        </div>
      </div>
    </div>
    <div class="col-lg-4"></div>

  </div>
  <div class="row">
    <div class="col-lg-12"></div>
    <!-- <p class="newInnovative"> New innovative way of finding a workout buddy </p>
                             <p class="newInnovative">and reaching your workout goals </p>
                             <p class="newInnovative">from anywhere!!!!</p> -->
    <!-- <p>"Training has given me the know-how to enter the gym with confidence! I now know how to use the equipment and maximize a workout with confidence!”" </p>              -->
    <!-- blank space on first line to push buttons over -->

  </div>
</div>