<div class="container">
    <div class="row">
        <div class="card">
            <div class=" space col-lg-12">
                <div>
                    <h1 style="text-align: center; padding-top: 5px;">GitFit Profile</h1>
                    <h2 style="text-align: center;">Please enter your profile Information</h2>
                    <h3 style="text-align: center;">To complete your profile information, please provide information
                        below.</h3>
                </div>
            </div>
        </div>
        <br>
        <form class="create-surveyform">
            <table>
                <div>
                    <div>
                        <tr>
                            <h3>Personal Information</h3>
                        </tr>
                        <tr>
                            <label for="idPic">Add Image</label>
                            <input type="file" id="pic" > <br>
                            <img src="https://dummyimage.com/197x217/87BED8/white.jpg&text=no+profile+picture" height="200" id="pre" alt="Image preview...">
                            <br>
                        </tr>
                        <tr>
                            <label for="idFirstName">First Name</label>
                            <input class="form-control" type="firstName" name="FirstName" id="FirstName" placeholder="">
                            <label for="idLastName">Last Name</label>
                            <input class="form-control" type="LastName" id="LastName" placeholder="">
                        </tr>
                        <tr>
                            <label for="gender">Gender</label>
                            <input type="radio" id="idgender" value="male"> Male<br>
                            <input type="radio" id="idgender" value="female"> Female<br>
                            {{!-- <input class="form-control" type="radio" id="idgenderMale" placeholder="Gender" value="1"> Male>
                                  <input class="form-control" type="radio" id="idgenderMale" placeholder="Gender" value="1"> Male> --}}
                        </tr>
                        <br />
                        <br />
                        <tr>
                            <label for="idHomeStr">Home Street Address</label>
                            <input class="form-control" type="text" id="HomeStr" placeholder="">
                            <label for="idHomeCity">Home City</label>
                            <input class="form-control" type="text" id="HomeCity" placeholder="">
                            <label for="idHomeState">Home State</label>
                            <input class="form-control" type="text" id="HomeState" placeholder="">
                        </tr>
                        <br />
                        <br />
                        <tr>
                            <label for="idHomeZip"> Home Zip</label>
                            <input class="form-control" type="text" id="HomeZip" placeholder="">
                            <label for="idMobilePh">Mobile Phone</label>
                            <input class="form-control" type="text" id="Mobile" placeholder="">
                        </tr>
                        <br />
                        <br />
                    </div>
                    <div>
                        <tr>
                            <h3>Workout Information</h3>
                        </tr>
                        <tr>
                            <label for="idGymName">Gym Name</label>
                            <input class="form-control" type="text" id="idGymName" placeholder="">
                            <label for="idGymStr">Gym Street Address</label>
                            <input class="form-control" type="text" id="idGymStreet" placeholder="">
                            <label for="idGymCity">Gym City</label>
                            <input class="form-control" type="text" id="idGymCity" placeholder="">
                            <label for="idGymState">Gym State</label>
                            <input class="form-control" type="text" id="idGymState" placeholder="">
                            <label for="idGymZip">Gym Zip</label>
                            <input class="form-control" type="text" id="idGymZip" placeholder="">
                        </tr>
                        <br />
                        <br />
                    </div>
                    <div>
                        <div>
                            <tr>
                                <h3>Training Information</h3>
                            </tr>
                        </div>
                        <div>
                            <div>
                                <label for="PrExcer">Primary Excercise</label>
                            </div>
                            <div class="col-md-6">
                                <select class="form-control" id="PrExcer" name="Primary Excercise">
                                    <option value="nba">Basketball</option>
                                    <option value="cardio">Cardio</option>
                                    <option value="crfit">CrossFit</option>
                                    <option value="pilates">Pilates</option>
                                    <option value="run">Running</option>
                                    <option value="spin">Spin</option>
                                    <option value="swimming">Swimming</option>
                                    <option value="tennis">Tennis</option>
                                    <option value="walking">Walking</option>
                                    <option value="wtraining">Weight Training</option>
                                    <option value="yoga">Yoga</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select class="form-control" id="idprlevel" name="Primary Excercise Level">
                                    <option value="beglevel">Beginner</option>
                                    <option value="intlevel">Intermidiate</option>
                                    <option value="adlevl">Advanced</option>
                                </select>
                            </div>
                        </div>
                        <tr>
                            <div>
                                <div>
                                    <label for="PrExcer">Secondary Excercise</label>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control" id="idScExcer" name="Secondary Excercise">
                                        <option value="nba">Basketball</option>
                                        <option value="cardio">Cardio</option>
                                        <option value="crfit">CrossFit</option>
                                        <option value="pilates">Pilates</option>
                                        <option value="run">Running</option>
                                        <option value="spin">Spin</option>
                                        <option value="swimming">Swimming</option>
                                        <option value="tennis">Tennis</option>
                                        <option value="walking">Walking</option>
                                        <option value="wtraining">Weight Training</option>
                                        <option value="yoga">Yoga</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control" id="idsclevel" name="Secondary Excercise Level">
                                        <option value="beglevel">Beginner</option>
                                        <option value="intlevel">Intermidiate</option>
                                        <option value="adlevl">Advanced</option>
                                    </select>
                                </div>
                            </div>
                        </tr>
                    </div>
                </div>
            </table>
            <br />
            <br />
            <div style="text-align: center; ">
                <button type="submit" class="btn btn-primary" id="submit-survey">Submit</button>
                {{!-- <button id="submitData" style="width:150px;" type="submit" class="btn btn-primary">Submit</button> --}}
            </div>
        </form>
    </div>
</div>
