<div class="container">
    <div class="row">
        <div class="card">
            <div class=" space col-lg-12">
                <div>
                    <h1 style="text-align: center; padding-top: 5px;">GitFit Profile</h1>
                    <h2 style="text-align: center;">Please enter your profile Information</h2>
                    <h3 style="text-align: center;">To complete your profile information, please provide information
                        below.</h3>
                </div>
            </div>
        </div>
        <br>
        <form class="create-surveyform">
            <table>
                <div>
                   
                        <tr>
                            <h3>Personal Information</h3>
                        
                            <label>Add Image</label>
                            <input type="file" id="pic"> <br>
                            <img src="" height="200" id="pre" alt="Image preview...">
                            <br>
                        
                            <label id="idFirstName">First Name </label>
                            <input class="form-control" type="firstName" name="FirstName" id="FirstName" placeholder="First" style="width: 250px; ">   
                            <label id="idLastName" style="padding-left: 50px;">Last Name</label>
                            <input class="form-control" type="LastName" id="LastName" placeholder="Last" style="width: 250px; ">
                        
                            <br>

                    <!-- ****************************** Gender *************************************************** -->
                            
                            <label for="gender">Gender</label>
                            <form action ="#"> <br> 
                            <label>
                            <input  name="idgender" type="radio" checked value="male"  /> <span> Male</span><br>
                            </label>
                            
                            <label>
                            <input  name="idgender" type="radio"  value="female" /><span> Female </span><br>
                            </label>
                          </form>

                     <!-- ****************************************************************************************** -->



                        </tr>
                        <!-- ****************************** Personal Infomation ************************************* -->
                        <tr>
                            <label for="idHomeStr">Home Street Address</label>
                            <input class="form-control" type="text" id="HomeStr" placeholder=" Home Address">
                            <label for="idHomeCity">Home City</label>
                            <input class="form-control" type="text" id="HomeCity" placeholder="City">
                            <label for="idHomeState">Home State</label>
                            <input class="form-control" type="text" id="HomeState" placeholder="State">
                            <label for="idHomeZip"> Home Zip</label>
                            <input class="form-control" type="text" id="HomeZip" placeholder="Zip Code">
                            <label for="idMobilePh">Mobile Phone</label>
                            <input class="form-control" type="text" id="Mobile" placeholder="Mobile">
                        </tr>
                       
                       <!-- ****************************************************************************************** -->
                    
                    
                    <!-- ****************************** Workout Infomation ************************************* -->
                        <tr>
                            <h3>Workout Information</h3>
                        </tr>
                        <tr>
                            <label for="idGymName">Gym Name</label>
                            <input class="form-control" type="text" id="idGymName" placeholder="Gym Name">
                            <label for="idGymStr">Gym Street Address</label>
                            <input class="form-control" type="text" id="idGymStreet" placeholder="Address">
                            <label for="idGymCity">Gym City</label>
                            <input class="form-control" type="text" id="idGymCity" placeholder="City">
                            <label for="idGymState">Gym State</label>
                            <input class="form-control" type="text" id="idGymState" placeholder="State">
                            <label for="idGymZip">Gym Zip</label>
                            <input class="form-control" type="text" id="idGymZip" placeholder="Zipcode">
                        </tr>
                        <!-- ****************************************************************************************** -->
                       
                    
                         <!-- ******************************  Training  Infomation ************************************* -->
                   
                                <h3>Training Information</h3>
                            <div>
                               <label style="padding-right: 400px; font-size:12px;">Primary Excercise</label><br>                             
                            <div class="input-field col s3">
                                <select  class="browser-default">
                                    <option value="" disabled selected></option>
                                    <option value="nba">Basketball</option>
                                    <option value="cardio">Cardio</option>
                                    <option value="crfit">CrossFit</option>
                                    <option value="pilates">Pilates</option>
                                    <option value="run">Running</option>
                                    <option value="spin">Spin</option>
                                    <option value="swimming">Swimming</option>
                                    <option value="tennis">Tennis</option>
                                    <option value="walking">Walking</option>
                                    <option value="wtraining">Weight Training</option>
                                    <option value="yoga">Yoga</option>
                                </select>
                                
                            </div><br> <br> <br> <br>

                            <label style="padding-right: 400px; font-size:12px;">Primary Excercise Level</label><br>
                            <div class="input-field col s3">
                                <select class="browser-default">
                                    <option value="" disabled selected></option>
                                    <option value="beglevel">Beginner</option>
                                    <option value="intlevel">Intermidiate</option>
                                    <option value="adlevl">Advanced</option>
                                </select>
                                
                                </div>
                            
                                   
                                </div><br> <br> <br> <br>

                                <label style="padding-right: 400px; font-size:12px;">Secondary Excercise</label><br>
                                <div class="input-field col s3">
                                    <select class="browser-default">
                                          <option value="" disabled selected></option>
                                        <option value="nba">Basketball</option>
                                        <option value="cardio">Cardio</option>
                                        <option value="crfit">CrossFit</option>
                                        <option value="pilates">Pilates</option>
                                        <option value="run">Running</option>
                                        <option value="spin">Spin</option>
                                        <option value="swimming">Swimming</option>
                                        <option value="tennis">Tennis</option>
                                        <option value="walking">Walking</option>
                                        <option value="wtraining">Weight Training</option>
                                        <option value="yoga">Yoga</option>
                                    </select>
                                     
                                </div> <br> <br> <br> <br>
                            
                                <label style="padding-right: 700px; font-size:12px;">Secondary Excercise Level</label>
                                <div class="input-field col s3">
                                    <select class="browser-default">
                                         
                                        <option value="" disabled selected></option>
                                        <option value="beglevel">Beginner</option>
                                        <option value="intlevel">Intermidiate</option>
                                        <option value="adlevl">Advanced</option>
                                    </select>
                                    
                                </div>
                               
            </table> <br><br> 
              <!-- ****************************************************************************************** -->
            <div style="text-align: center; ">
                <button type="submit" class="btn btn-primary" id="submit-survey">Submit</button>
                {{!-- <button id="submitData" style="width:150px;" type="submit" class="btn btn-primary">Submit</button> --}}
            </div>
        </form>
    </div>
</div>
