
<!-- 
  This is the original file
-->
<div id="grad1"></div>
<h1 style="text-align: center;">GitFit Profile</h1>
<hr />
<h2 style="text-align: center;">Please enter your profile Information</h2>

<br />
<br />
<br />
<br />

<form class="create-form">

  <table>
    <tr>
      <td style="padding-top: 50px;">
        <h3>Personal Information</h3> 
      </td>
    </tr>
    <tr>
      <label for="idFirstName">First Name</label>
      <input type="text" placeholder="e.g first-name">
      <label for="idLastName">Last Name</label>
      <input type="text" placeholder="e.g last-name">
    </tr>
    <tr>
      {{!-- <label for="gender">Gender</label><br> --}}
      <label for="gender">Gender</label>
      <input type="radio" name="gender" value="1"> Male
      <input type="radio" name="gender" value="0" checked> Female
      {{!-- <label for="idgender">Gender</label>
      <input type="text" placeholder="e.g M/F"> --}}
      
    </tr>


    <br />
    <br />

    
    <tr>
      <td label>First Name:</td>
      {{!-- <td id="idFirstName"></td> --}}
      <td>______________</td>
      <td>   </td>
      <td >Last Name:</td>
      <td>______________</td>
      <td>   </td>
      <td>Gender:</td>
      <td>M/F</td>
      <td>   </td>
    </tr>
    <tr>
      <td>Home Address:</td>
      <td>______________</td>
      <td>   </td>
      <td>City:</td>
      <td>______________</td>
      <td>   </td>
      <td>State:</td>
      <td>_____</td>
      <td>   </td>
      <td>Zip:</td>
      <td>_____</td>
      <td>   </td>
    </tr>
    <tr>
      <td>Phone:</td>
      <td>______________</td>
      <td>   </td>
      <td></td>
      <td></td>
      <td>   </td>
      <td></td>
      <td></td>
      <td>   </td>
      <td></td>
      <td></td>
      <td>   </td>
    </tr>
    <tr>
      <td>Phone:</td>
      <td>______________</td>
      <td>   </td>
      <td></td>
      <td></td>
      <td>   </td>
      <td></td>
      <td></td>
      <td>   </td>
      <td></td>
      <td></td>
      <td>   </td>
    </tr>
    <tr>
      <td style="padding-top: 50px;">
        <h3>Workout Information</h3>
      </td>
    </tr>  
    <tr>
      <td>Home Address:</td>
      <td>______________</td>
      <td>   </td>
      <td>City:</td>
      <td>______________</td>
      <td>   </td>
      <td>State:</td>
      <td>_____</td>
      <td>   </td>
      <td>Zip:</td>
      <td>_____</td>
      <td>   </td>
    </tr>
    <tr>
      <td style="padding-top: 50px;">
        <h3>Training Information</h3>
      </td>
    </tr> 
    {{!-- <tr>
      <div class="dropdown">
        <button class="dropbtn">Primary Excersise</button>
        <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        </div>
      </div>
    </tr>  --}}
    <tr>
      <td colspan="2">Primary Excercise:</td>
      <td></td>
      <td>   </td>
      <td colspan="2">Secondary Excercise:</td>
      <td></td>
      <td>   </td>
    </tr>
    <tr>
      <td colspan="2">Level:</td>
      <td></td>
      <td>   </td>
      <td colspan="2">Level:</td>
      <td></td>
      <td>   </td>
    </tr>
    <tr>
      <td style="padding-top: 50px;">
        
      </td>
    </tr> 
  </table>

  <hr />
  <div style="text-align: center; ">
    <button style="width:150px;"  type="submit">Submit Profile</button>
  </div>

  