.logo{
    width: 7%;
    length: 7%;
    position: relative;
    margin-left: 60px;
    margin-top: 60px;
    padding-right:10px;
}

.headerLinks2{
  color:black;
    font-weight: bold;
    padding-right: 10px;
    margin-top: 10px;

       }

       h1{
        padding-bottom: 100px;
        padding-left: 40px;
        font-size: 3.5em;
        font-weight: bold;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }


      .block{
        display: block;
        margin: 20%;
        margin-top:0;
        /* margin-right: auto; */
        width:70%;
        background: white;
        height: 100%;
        border-radius: 70px;
        margin-bottom:0px;
      }

      #color{
          background-color:silver;
          /* z-index: -1;  */
          background-size: cover;
          margin-left: 30px;
      }

      #gitfit{
          display:inline;
          padding-right: 10px;
          font-weight: bolder;

      }

      .blockLinks{
        color: rgb(161, 156, 156);
        font-weight: bold;
        padding-right: 10px;
        float: right;
        margin-right: 25px;

      }

      .blockLinks1{
        color: rgb(161, 156, 156);
        font-weight: bold;
        padding-right: 10px;
        float: right;
        margin-right: 25px;


      }

      hr{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        border:10px;
        height: 40%;
      }

      .video{
        width: 200%;
        margin-right: 10%;
        background-color: white; 
      }

      .back{
        /* background-color:rgb(161, 156, 156); */
      background-color: white; 
      }
      #chatBody {
        height: 200px;
        width: 100%;
        border-radius: 2px solid darkgrey;
        border: 10px;
        background-color: ivory;
      }
      #pmatch{
        margin: 20%;
      }
