.logo{
    width: 10%;
    length: 10%;
    position: relative;
    margin-left: 60px;
    margin-top: 60px;
    padding-right:10px;
}

.headerLinks2{
  color: white;
    font-weight: bold;
    padding-right: 10px;
    margin-top: 10px;

       }

       h1{
        padding-bottom: 100px;
        padding-left: 40px;
        font-size: 3.5em;
        font-weight: bold;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }

      h4 {
        font-size: 100px;
        color: white;

      }
      li {
       
      }

      .block{
        display: block;
        margin: 20%;
        margin-top:0;
        /* margin-right: auto; */
        width:70%;
        background: white;
        height: 100%;
        border-radius: 70px;
        margin-bottom:0px;
      }

      #color{
          background-color:silver;
          /* z-index: -1;  */
          background-size: cover;
          margin-left: 30px;
      }

      #gitfit{
          display:inline;
          padding-right: 10px;
          font-weight: bolder;

      }

      .blockLinks{
        color: rgb(161, 156, 156);
        font-weight: bold;
        padding-right: 10px;
        float: right;
        margin-right: 25px;

      }

      .blockLinks1{
        color: rgb(161, 156, 156);
        font-weight: bold;
        padding-right: 10px;
        float: right;
        margin-right: 25px;
      }
      .list-group-item {
        font-weight: bold;
        background-color: purple;
      }

      hr{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        border:10px;
        height: 40%;
      }


      .video{
        width: 30%;
        margin-right: 10%;
      }

      .back{
        background-color:rgb(161, 156, 156);
      }
      .col-md-4 {
        background-color: gray;
        border-radius: 20px;
      }
      #users {
        background-color: white;
      }
      #chatBody {
        height: 300px;
        width: 350px;
        border-radius: 5px solid black;
        margin-right:20px;
        border: solid 2px lightgray;
        background-color: white;
      
      }
      #pmatch{
        margin: 20%;
      }
