/* #surveyPic {
    height: 150vh; 
    /* padding-top: 50%;  
    background-image: linear-gradient(
        rgba(240, 243, 243, 0.959), 
        rgba(250, 249, 249, 0.164)
    ), url("../Git-fit/public/assets/img/survey2.png");
    background-position: right 15px center; 
    background-size: auto 100%;
    background-repeat: no-repeat; 
    background-blend-mode: lighten; 
    
    } */
      

    .surveyPic{
        /* width:100%;  */
        height:150vh; 
        /* margin: 220px;  */
        /* padding: 0;  */
        background-image: linear-gradient(
        rgba(235, 241, 241, 0.897), 
        rgba(255, 255, 255, 0.74)
    ), url(../img/loginPic3.png);
        background-size: 20px; 
        background-position: right 15px;
        background-size: cover;    
        background-size: auto 75%;
    background-repeat: no-repeat; 
     background-blend-mode: lighten;
     /* background-color: grey;   */
    /* background-blend-mode: luminosity;  */
    /* padding-bottom: 50px;  */
    
    }

    .pibox{
        border-block: 2px solid grey;  
        background-color:  rgba(235, 241, 241, 0.897); 
    }